html,
body {
  height: 100%;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}
body {
  background-image: url(./test-site/images/capsule_616x353.jpg);
}
nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  gap: 20px;
  background-color: rgb(55, 54, 61);
  display: flex;
}
.ul1 {
  display: flex;
  align-items: center;
  padding-left: 500px;
}
ul {
  list-style-type: none;
}
a {
  color: black;
  text-align: center;
  margin: 20px;
  height: 20px;
  text-shadow: 0 0 3px #b6aeae;
}
a:hover {
  color: white;
}
.sidenav {
  top: 75px;
  left: 0;
  position: fixed;
  padding: 10px;
  height: 100%;
  gap: 20px;
  background-color: rgb(55, 54, 61);
  text-align: left;
}
h2 {
  top: 30px;
  padding-right: 150px;
  text-align: left;
  color: rgb(147, 147, 158);
  text-shadow: 0 0 3px #777474;
}
h1 {
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 430px;
  color: rgb(147, 147, 158);
  text-shadow: 2px 2px 4px #5e5c5c;
}
p {
  font-size: 20px;
  position: absolute;
  top: 60px;
  left: 430px;
  text-align: left;
  color: grey;
  text-shadow: 0 0 3px #555353;
}
img {
  border-radius: 15px;
  width: 400px;
  margin-top: 20px;
}

.border {
  position: absolute;
  top: 100px;
  left: 650px;
  padding: 15px;
  padding-right: 450px;
  margin: 10px;
  color: white;
  border-radius: 15px;
  background-color: rgb(77, 75, 75);
}
